{% extends 'base.html'%}
{% load static  %}
{% block content %}
 
    <!-- main body -->
    <!-- ################################################################################################ -->
    
    <section id="introblocks">
      {% for i in pr %}
      <ul class="nospace group grid-3">
        
        <li class="one_third">
          <figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt=""></a>
            <figcaption><a href="#">{{i.name}}</a></figcaption>
          </figure>
          <p>{{i.desc |truncatewords:17}}</p>
          <br>
          <p>Price : {{i.price}} Rs</p>
          <br>
          <p>stock left: : {{i.stock}} </p>
        </li>
        <li></li>
        
        
      </ul>
      {% endfor %}
    </section>
    
   
    <div class="clear"></div>
  </main>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'home/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'home/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'home/layout/scripts/jquery.mobilemenu.js' %}"></script>

{% endblock %}
</body>
</html>